{% extends "base.html" %}
{% block content %}
{% macro render_field(field, placeholder=None) %}
    {% set css_class = 'uk-input uk-form-large ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
{% endmacro %}
<div class="uk-section uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport="offset-top: true; offset-bottom: true">
	<div class="uk-width-1-1">
		<div class="uk-container">
			<div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
				<div class="uk-width-1-1@m">
					<div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
						<h3 class="uk-card-title uk-text-center">Sign up to <b>Chef</b>venue.io</h3>
						<form method="POST" action="." accept-charset="UTF-8" role="form">
                            {{ form.csrf_token }}
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    {{ render_field(form.name, placeholder="Username", autofocus="") }}
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    {{ render_field(form.email, placeholder="Email Address", autofocus="") }}
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    {{ render_field(form.password, placeholder="Password") }}
                                </div>
                            </div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                <div>
                                {% for category, message in messages %}
                                    {% if category == "error-message" %}
                                        {{ message }}<br>
                                    {% endif %}
                                {% endfor %}
                                </div>
                                {% endif %}
                            {% endwith %}
							<div class="uk-margin">
								<button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Create Account</button>
							</div>
							<div class="uk-text-small uk-text-center">
                                Have an account? <a href="{{ url_for('auth.signin') }}">Login</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
