{% extends "base.html" %}
{% block content %}
{% macro render_field(field, placeholder=None) %}
    {% set css_class = 'uk-input ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
{% endmacro %}
<div class="uk-container uk-padding" uk-height-viewport="offset-top: true; offset-bottom: true">
    <form method="POST" action="" accept-charset="UTF-8" role="form" class="uk-grid-small uk-flex-center" uk-grid>
        {{ form.csrf_token }}
        <div class="uk-width-xlarge uk-margin">
            {{ render_field(form.query, placeholder="Search Restaurant") }}
            {% for errors in form.errors.query %}
            <small>
                {{ errors }}
            </small>
            {% endfor %}
        </div>
    </form>

    <ul class="uk-child-width-1-3@m" uk-grid>
    {% for restaurant in restaurants %}
        <li>
            <div class="uk-card uk-card-default uk-card-hover">
                <div class="uk-card-media-top">
                    <img src="{{ url_for('static',filename='img/restaurant_alt1.jpg') }}" alt="">
                </div>
                <div class="uk-card-body">
                    <a href="{{ url_for('restaurant.show_restaurant', restaurant_id=restaurant.id) }}">
                        <h3 class="uk-card-title">{{ restaurant.name.title() }}</h3>
                    </a>
                    <p>{{ restaurant.food.title() }} | {{ restaurant.address.title() }}</p>
                    <div>
                        <span class="checked" uk-icon="star"></span>
                        <span class="checked" uk-icon="star"></span>
                        <span class="checked" uk-icon="star"></span>
                        <span class="checked" uk-icon="star"></span>
                        <span uk-icon="star"></span>
                    </div>
                </div>
                <div class="uk-card-footer">
                    <a href="{{ url_for('restaurant.show_restaurant', restaurant_id=restaurant.id) }}" class="uk-button uk-button-text">Read more</a>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>

    {% if message %}
        <div class="uk-text-center">
            <p>{{ message }}</p>
            <a href="/r/search" class="uk-button uk-button-default">Rest Form</a>
        </div>
    {% endif %}

</div>
{% endblock %}
