{% extends "base.html" %}
{% block content %}
{% include 'layout/page_header.html' %}
{% macro render_field(field, placeholder=None) %}
    {% set css_class = 'uk-input ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
{% endmacro %}
<div class="uk-container uk-padding" uk-height-viewport="offset-top: true; offset-bottom: true">
    <div class="uk-grid-divider" uk-grid>
        <div class="uk-width-2-3@m">
            <h2 style="margin-bottom: 10px">{{ restaurant.name.title() }}</h2>
            <h4 class="uk-heading-divider" style="margin-top: 0; margin-bottom: 20px">{{ restaurant.address.title() }}</h4>
            <div>
                <ul class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-fade">
                    <li><a href="#">Overview</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Photos</a></li>
                </ul>
                
                <ul class="uk-switcher uk-margin">
                    <li>
                        <p>{{ restaurant.name.title() }}'s flagship restaurant, located on Waverly Place in Greenwich Village, opened to great acclaim in 1998 and is as bustling and popular as ever. It offers three-star dining that redefines and reinvents the principles of Italian cuisine for 21st century America. An epic, landmark wine list, an exciting, quintessentially New York dining room and expert, attentive and cordial service make a table at Babbo one of New York’s prized possessions.</p>
                    </li>
                    <li>
                        <table class="uk-table uk-table-divider">
                            <thead>
                                <tr>
                                    <th class="uk-table-expand">Food</th>
                                    <th class="uk-width-small">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mussels "alla Tarantina"</td>
                                    <td>$16.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        <div class="uk-child-width-1-3@m" uk-grid uk-lightbox="animation: fade">
                            <div>
                                <a class="uk-inline" href="{{ url_for('static',filename='img/food_alt1.jpg') }}">
                                    <img src="{{ url_for('static',filename='img/food_alt1.jpg') }}" alt="">
                                </a>
                            </div>
                            <div>
                                <a class="uk-inline" href="{{ url_for('static',filename='img/food_alt2.jpg') }}">
                                    <img src="{{ url_for('static',filename='img/food_alt2.jpg') }}" alt="">
                                </a>
                            </div>
                            <div>
                                <a class="uk-inline" href="{{ url_for('static',filename='img/food_alt3.jpg') }}" data-caption="Grilled Lamb Scottadita">
                                    <img src="{{ url_for('static',filename='img/food_alt3.jpg') }}" alt="">
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <hr>

            <table class="uk-table">
                <caption>All Tables</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Capacity</th>
                        <th>Minimum</th>
                        <th>Availability</th>
                    </tr>
                </thead>
                <tbody>
                    {% for table in restaurant.tables %}
                    <tr>
                        <td>{{ table.name.title() }}</td>
                        <td>{{ table.capacity }}</td>
                        <td>{{ table.minimum }}</td>
                        <td class="uk-table-shrink uk-text-nowrap">
                            {{ 'Booked' if table.check_availability(table.id) else 'Available' }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="uk-width-1-3@m">
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Make a reservation</h3>
                <form method="POST" action="" accept-charset="UTF-8" role="form" class="uk-form-stacked">
                    {{ form.csrf_token }}
                    <div class="uk-margin">
                        {{ render_field(form.email, placeholder="Email") }}
                        {% for errors in form.errors.email %}
                        <small>
                            {{ errors }}
                        </small>
                        {% endfor %}
                    </div>

                    <div class="uk-margin" uk-grid>
                        <div class="uk-width-1-2@m">
                            <label class="uk-form-label" for="form-stacked-select">People</label>
                            {{ render_field(form.people, placeholder="People") }}
                        </div>
                        <div class="uk-width-1-2@m">
                            <label class="uk-form-label" for="form-stacked-select">Table</label>
                            {{ render_field(form.table, placeholder="Table") }}
                            {% for errors in form.errors.table %}
                            <small>
                                {{ errors }}
                            </small>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        <div>
                        {% for category, message in messages %}
                            {% if category == "success-message" %}
                                {{ message }}<br>
                            {% endif %}
                        {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %} -->

                    <div class="uk-margin">
                        <button class="uk-button uk-button-primary uk-button-default uk-width-1-1">Reserve</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
