{% extends "base.html" %}
{% block content %}
<div class="uk-container uk-padding" uk-height-viewport="offset-top: true; offset-bottom: true">
    <div class="uk-grid-divider" uk-grid>
        <div class="uk-width-1-4@m">
            <div>
                <ul class="uk-nav uk-nav-parent-icon">
                    <li><a href="{{ url_for('auth.admin', view=['users']) }}">Users</a></li>
                    <li><a href="{{ url_for('auth.admin', view=['restaurants']) }}">Restaurants</a></li>
                    <li><a href="#">Reservations</a></li>
                    <!-- <li class="uk-parent">
                        <ul class="uk-nav-sub">
                        </ul>
                    </li> -->
                    <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
                </ul>
            </div>
        </div>
        <div class="uk-width-3-4@m">
            <div class="uk-animation-fade">
                {{render|safe}}
            </div>
        </div>
    </div>
</div>
{% endblock %}
