{% extends "base.html" %}
{% block content %}
<div class="uk-container uk-padding" uk-height-viewport="offset-top: true; offset-bottom: true">
    <div class="uk-grid-divider" uk-grid>
        <div class="uk-width-1-4@m">
            <div>
                <div class="uk-text-center">
                    <img class="uk-border-circle" src="https://getuikit.com/v2/docs/images/placeholder_200x200.svg" alt="">
                    <h5>{{user.name}}</h5>
                </div>
                <ul class="uk-nav uk-nav-parent-icon" uk-nav>
                    <li class="uk-active">
                        <a href="{{ url_for('auth.profile', view=['reservations']) }}">My Reservations</a>
                    </li>
                    <li><a href="{{ url_for('auth.profile', view=['change-profile']) }}">Change Profile</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="uk-width-2-3@m">
            <div class="uk-animation-fade">
                {{render|safe}}
            </div>
        </div>
    </div>
</div>
{% endblock %}
