<h6>MY RESERVATIONS</h6>
<table class="uk-table uk-table-divider">
    <thead>
        <tr>
            <th>Email</th>
            <th>Restaurant</th>
            <th>Table</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.email }}</td>
            <td>{{ reservation.table.restaurant.name.title() }}</td>
            <td>{{ reservation.table.name.title() }}</td>
            <td>{{ reservation.date_created.strftime('%Y-%m-%d') }}</td>
            <td class="uk-table-shrink uk-text-nowrap">
                <a href="{{ url_for('auth.profile', view=['reservations'], action=['delete'], bookingId=[reservation.id]) }}" class="delete" data-confirm="Are you sure to delete this reservation?">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
