<div class="uk-section uk-section-muted">
    <div class="uk-container">
        <h3>About Chefvenue.io</h3>
        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
                <p>We love what can happen around the restaurant table. And since 1998 we’ve been committed to empowering that experience. From helping restaurants of all sizes thrive, to enabling diners to find and book the perfect table</p>
            </div>
            <div>
                <ul class="uk-list">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Advertise</a></li>
                </ul>
            </div>
            <div>
                <ul class="uk-list">
                    <li><a href="#">Dining Rewards</a></li>
                    <li><a href="#">Private Dining</a></li>
                    <li><a href="#">Reserve for Others</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
