<div class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <a href="{{ url_for('main') }}" class="uk-navbar-item uk-logo">
            <img src="{{ url_for('static',filename='img/logo.svg') }}" alt="Chefvenue.io" title="Chefvenue.io" width="40" height="40" class="uk-margin-small-right uk-svg">
            <b>Chef</b>venue.io
        </a>
    </div>

    <div class="uk-navbar-right">
        <!-- <div class="uk-navbar-item uk-visible@m">
            <a class="uk-navbar-toggle" uk-search-icon href="#"></a>
            <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
                <form class="uk-search uk-search-navbar uk-width-1-1">
                    <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
                </form>
            </div>
        </div> -->
        <!-- <a class="uk-navbar-toggle" href="#modal-full" uk-search-icon uk-toggle></a> -->
        <div class="uk-navbar-item uk-visible@m"><a href="#" class="uk-button uk-button-default tm-button-default uk-icon">make a reservation <canvas uk-icon="icon: calendar" width="20" height="20" class="uk-icon" hidden="true"></canvas></a></div>

        <a class="uk-navbar-toggle" uk-toggle="target: #offcanvas-nav-primary">
            <span uk-navbar-toggle-icon="" class="uk-navbar-toggle-icon uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg></span> <span class="uk-margin-small-left">MENU</span>
        </a>
    </div>
</div>
