<div class="uk-position-relative uk-visible-toggle" uk-slideshow="animation: fade; ratio: 7:2; autoplay: true">
    <ul class="uk-slideshow-items">
        <li>
            <img src="{{ url_for('static',filename='img/img_alt1.jpg') }}" alt="" uk-cover>
            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                <h2 class="uk-margin-remove">Make a reservation at some of the most popular restaurants in the world!</h2>
                <p class="uk-margin-remove">All reservations is subject to availability and will be allocated on a first come, first served basis.</p>
            </div>
        </li>
        <li>
            <img src="{{ url_for('static',filename='img/img_alt2.jpg') }}" alt="" uk-cover>
            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                <h2 class="uk-margin-remove">Find your table for any occasion</h2>
                <p class="uk-margin-remove">Explore the best deals available throughout the party season</p>
            </div>
        </li>
        <li>
            <img src="{{ url_for('static',filename='img/img_alt3.jpg') }}" alt="" uk-cover>
            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                <h2 class="uk-margin-remove">Discover restaurants you love</h2>
                <p class="uk-margin-remove">Hand-picked deals & exclusive menus at iconic restaurants</p>
            </div>
        </li>
    </ul>

    <div class="uk-light">
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>
</div>
