<div id="offcanvas-nav-primary" uk-offcanvas="mode: push; overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">
        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            <li {%- if request.path == "/" %} class="uk-active" {% endif %}><a href="/">Home</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#">Restaurants</a></li>
            <li class="uk-nav-divider"></li>
            <li class="uk"><a href="#">Search</a></li>
            <li class="uk-nav-header">Account</li>
            <li class="uk-parent">
                <ul class="uk-nav-sub">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/sign-up">Sign Up</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
