<!DOCTYPE html>
<html lang="en">
{% include 'layout/head.html' %}
<body>
    <!-- Offcanvas Menu -->
    {% include 'layout/offcanvas.html' %}
    <!-- Navbar -->
    {% include 'layout/navbar.html' %}
    <!-- Header -->
    {% block header %}{% endblock %}
    <!-- Page Content -->
    {% block content %}{% endblock %}
    <!-- Footer -->
    {% include 'layout/footer.html' %}
    <!-- Search Modal -->
    {% include 'layout/search_modal.html' %}
    <!-- UIkit JS -->
    {% include 'layout/scripts.html' %}
    <!-- Notification -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "success-message" %}
                    <script>
                        UIkit.notification({message: '{{ message }}', pos: 'bottom-right', status:'primary'});
                    </script>
                {% elif category == "warning-message" %}
                    <script>
                        UIkit.notification({message: '{{ message }}', pos: 'bottom-right', status:'warning'});
                    </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>
