{% extends "base.html" %}
{% block header %}
    {% include 'layout/slideshow.html' %}
{% endblock %}
{% block content %}
<div class="uk-container uk-padding">
    <h3 class="uk-heading-line uk-text-center"><span>Popular Restaurants</span></h3>

    <div class="uk-child-width-expand@m" uk-grid>
        {% for restaurant in restaurants %}
        <div>
            <div>
                <div class="uk-card uk-card-default uk-card-hover">
                    <div class="uk-card-media-top">
                        <img src="{{ url_for('static',filename='img/restaurant_alt1.jpg') }}" alt="">
                    </div>
                    <div class="uk-card-body">
                        <a href="{{ url_for('restaurant.show_restaurant', restaurant_id=restaurant.id) }}">
                            <h3 class="uk-card-title">{{ restaurant.name.title() }}</h3>
                        </a>
                        <p>{{ restaurant.food.title() }} | {{ restaurant.address.title() }}</p>
                        <div>
                            <span class="checked" uk-icon="star"></span>
                            <span class="checked" uk-icon="star"></span>
                            <span class="checked" uk-icon="star"></span>
                            <span class="checked" uk-icon="star"></span>
                            <span uk-icon="star"></span>
                        </div>
                    </div>
                    <div class="uk-card-footer">
                        <a href="{{ url_for('restaurant.show_restaurant', restaurant_id=restaurant.id) }}" class="uk-button uk-button-text">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <p class="uk-text-center" uk-margin>
        <a class="uk-button uk-button-default" href="{{ url_for('restaurant.restaurants') }}">View All</a>
    </p>

</div>

<div class="uk-section-default uk-light">
    <div class="uk-section uk-light uk-background-cover" style="background-image: url(https://media.otstatic.com/img/food-ba33685c5a52b59dd47a5d93a096a96b.jpg)">
        <div class="uk-container uk-text-center">

            <h2>Restaurateurs Join Us</h2>
            <p>Join the more than 40,000 restaurants which fill seats and manage reservations with Chefvenue.</p>

        </div>
    </div>
</div>

<div class="uk-container uk-padding">
    <h3>Make a FREE reservation</h3>
    <ul class="uk-list uk-list-bullet">
        <li>Find your table for any occasion</li>
        <li>Book quickly and easily in the app or on our website</li>
        <li>Save time!</li>
    </ul>

    <h4>About Chefvenue.io</h4>
    <p>We love what can happen around the restaurant table. And since 1998 we’ve been committed to empowering that experience. From helping restaurants of all sizes thrive, to enabling diners to find and book the perfect table for every occasion, our story is one of human connection—among diners and restaurants, and between restaurants and their communities. </p>
        
    <p>Now, we’re growing globally like never before, and continuing to lead the conversation in the tech and restaurant spaces with products that anticipate the ever-evolving needs of both restaurants and diners.</p>
            
    <p></p>With our passion for hospitality, we take pride in bringing together people and the restaurants they love in the moments that matter.</p>
</div>
{% endblock %}
