{% extends "base.html" %}
{% block header %}
    {% include 'layout/slideshow.html' %}
{% endblock %}
{% block content %}
<div class="uk-container uk-padding">
    <h3 class="uk-heading-line uk-text-center"><span>Popular Restaurants</span></h3>

    <div class="uk-child-width-expand@m" uk-grid>
        <div>
            <div>
                <div class="uk-card uk-card-default uk-card-hover">
                    <div class="uk-card-media-top">
                        <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">The Modern</h3>
                        <p>Italian | Midtown West</p>
                        <div>
                            <span class="checked" uk-icon="star"></span>
                            <span class="checked" uk-icon="star"></span>
                            <span class="checked" uk-icon="star"></span>
                            <span class="checked" uk-icon="star"></span>
                            <span uk-icon="star"></span>
                        </div>
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="uk-card uk-card-default uk-card-hover">
                    <div class="uk-card-media-top">
                        <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Cookshop</h3>
                        <p>Seafood | Midtown West</p>
                        <div>
                            <span class="checked" uk-icon="star"></span>
                            <span class="checked" uk-icon="star"></span>
                            <span class="checked" uk-icon="star"></span>
                            <span class="checked" uk-icon="star"></span>
                            <span uk-icon="star"></span>
                        </div>
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="uk-card uk-card-default uk-card-hover">
                    <div class="uk-card-media-top">
                        <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Raoul's</h3>
                        <p>French | SoHo</p>
                        <div>
                            <span class="checked" uk-icon="star"></span>
                            <span class="checked" uk-icon="star"></span>
                            <span class="checked" uk-icon="star"></span>
                            <span class="checked" uk-icon="star"></span>
                            <span class="checked" uk-icon="star"></span>
                        </div>
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p class="uk-text-center" uk-margin>
        <a class="uk-button uk-button-default" href="#">View All</a>
    </p>

</div>

<div class="uk-section-default uk-light">
    <div class="uk-section uk-light uk-background-cover" style="background-image: url(https://media.otstatic.com/img/food-ba33685c5a52b59dd47a5d93a096a96b.jpg)">
        <div class="uk-container uk-text-center">

            <h2>Restaurateurs Join Us</h2>
            <p>Join the more than 40,000 restaurants which fill seats and manage reservations with Chefvenue.</p>

        </div>
    </div>
</div>

<div class="uk-container uk-padding">
    <h3>Make a FREE reservation</h3>
    <ul class="uk-list uk-list-bullet">
        <li>Find your table for any occasion</li>
        <li>Book quickly and easily in the app or on our website</li>
        <li>Save time!</li>
    </ul>

    <h4>About Chefvenue</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
</div>
{% endblock %}
